.form-step-content {
    padding-top: 10px;
}

.form-title {
    font-family: var(--font-logo); /* JetBrains Mono */
    color: var(--text-primary);
    font-size: 2rem; /* 32px */
    margin-bottom: 12px;
}

.form-subtitle {
    margin-bottom: 32px;
    color: var(--text-primary);
    opacity: 0.7; /* Um cinza ótico gerado pela opacidade */
    font-family: var(--font-body); /* Questrial */
    font-size: 1.1rem;
    line-height: 1.5;
}